body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-fly-up {
  transition: all .3s ease;
}

.hover-fly-up:hover {
  transform: translateY(-4px);
}

.flex-center {
  display: flex;
  justify-content: center;
}


@keyframes fly-up {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
}

.fly-up {
  animation: fly-up .3s ease;
}